<!DOCTYPE html>
{%extends 'index.html' %}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">ADD PRODUCTS</h4>
                  <p class="card-description">
                  </p>
                  <form class="forms-sample" action="{%url 'save_product'%}" method="post" enctype="multipart/form-data">
                   {%csrf_token%}
                    <div class="form-group">
                      <label for="exampleInputName1">Product Name</label>
                      <input required type="text" class="form-control" id="exampleInputName1" name="pname" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputCity1" >Category</label>
                        <select name="category" class="form-control">
                            <option>Select Category</option>
                            {%for i in data%}
                            <option>{{i.Categoryname}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputCity1">Picture</label>
                      <input required type="file" name="picture" class="form-control" id="exampleInputCity1" placeholder="Location">
                    </div>
                      <div class="form-group">
                      <label for="exampleInputCity1">Price</label>
                      <input required type="number" name="price" min="1" class="form-control" id="exampleInputCity1" placeholder="Price">
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea required class="form-control" id="exampleTextarea1" rows="4" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
</body>
</html>
{%endblock%}